{% extends 'clients/base.html' %}

{% block content %}

<div class="card" style="width: 100%">
    <div class="card-header">
        Client Details
        <small class="float-sm-right"> 
        <a href="{% url 'clients:client-list' %}" class="btn btn-primary"> List <i class="fa fa-list" aria-hidden="true"></i> </a>
        </small>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                Full Company Name :
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.company_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                Name (for internal use):
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.name }}
            </div>
        </div>
         
        <div class="row">
            <div class="col-md-3 col-sm-3">
                VAT number:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.vat_number }}
            </div>
        </div>
         
        <div class="row">
            <div class="col-md-3 col-sm-3">
                Address:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.address }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                State/Province:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.state }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Zip/Postal Code:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.zipcode }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                City/Town:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.city }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Country:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.country.name }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                INV Template:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.inv_tpl }}
            </div>
        </div>



        <div class="row">
            <div class="col-md-3 col-sm-3">
                Creation Date:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.created_at }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Modification Date:
            </div>
            <div class="col-md-3 col-sm-3">
                {{ object.updated_at }}
            </div>
        </div>



    </div>
    <div class="card-footer">
        <small class="text-muted float-sm-right">
        <a href="{{ object.get_absolute_url }}" class="btn btn-info"> Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
        </small>
    </div>
</div>
{% endblock %}
