{% extends 'includes/main_wrapper.html' %}
{% load crispy_forms_tags %}
{% block wrapper %}

<div class="card" style="width: 100%">
    <div class="card-header">
       New Client
       {% url 'clients:client-list' as list_url %}
       {% include 'includes/btn_list.html' with list_url=list_url list_label='Clients' %}

    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data" class="form-input" data-action-url="{% url 'clients:client-add' %}" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <small class="float-sm-right">
                <input type="submit" value="Submit" class="btn btn-danger" />
            </small>
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted float-sm-right">
        </small>
    </div>
</div>
{% endblock %}



