{% extends 'includes/main_wrapper.html' %} #}

{% load crispy_forms_tags %}

{% block wrapper %}


<div class="card" style="width: 100%">
    <div class="card-header">
        Project list  
        <small class="float-sm-right">
        <a href="#" data-action-url="{% url 'projects:project-add' %}" class="btn btn-primary btn-item-action"> New Project <i class="fa fa-plus-square-o" aria-hidden="true"></i>
 </a>
        </small>

        {% if client_list %}
        <small class="float-sm-right mr-2">
           <select class="form-control client-filter" data-action-url="{% url 'projects:project-list' %}">
                <option value="">Select client</option>
            {% for client in client_list %}
                <option value="{{ client.id }}" {% if client_id and client_id == client.id %} selected="selected" {% endif %}>{{ client.company_name }} - {{ client.name }} </option>
            {% endfor %}
           </select>
        </small>
        {% endif %}

    </div>

    <div class="card-body">

        {% if object_list %}

        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Client</td>
                <td>Status</td>
                <td>CRN</td>
                <td>IRN</td>
                <td>Bill</td>
                <td>Manager</td>
                <td>Created at</td>
                <td>Updated at</td>
                <td>View</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>
            {% for project in object_list %}
                <tr>
                    <td>{{ project.pk }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.client }}</td>
                    <td>{{ project.state }}</td>
                    <td>{{ project.client_ref_number }}</td>
                    <td>{{ project.invoice_number }}</td>
                    <td>{{ project.get_price_type_display }}</td>
                    <td>{{ project.manager }}</td>
                    <td>{{ project.created_at }}</td>
                    <td>{{ project.updated_at }}</td>
                    <td>
                        <a href="#" data-action-url="{% url 'projects:project-view' project.id %}" class="btn btn-info btn-sm btn-item-action">View <i class="fa fa-eye" aria-hidden="true"></i>
                        {# <i class="fa fa-search-plus" aria-hidden="true"></i> #}

                     </td>
                    <td><a href="#" data-action-url="{% url 'projects:project-edit' project.id %}" class="btn btn-secondary btn-sm btn-item-action">Edit <i class="fa fa-pencil" aria-hidden="true"></i> </td>

                    <td><a href="#" data-action-url="{% url 'projects:project-delete' project.id %}" class="btn btn-danger btn-sm btn-item-action">Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        {% else %}
            <div class="alert alert-warning"> #0 records found </div>
        {% endif %}


        {# The pagination Section  #}

        {% if client_id %}
            {% url "projects:client-project-list" client_id as ref_url %}
        {% else %}
            {% url "projects:project-list" as ref_url %}
        {% endif %}
        {% include 'includes/pagination_records.html' with ref_url=ref_url %}

    </div>
</div>

{% endblock %}
