{% extends 'projects/base.html' %}

{% block content %}
    
<div class="card" style="width: 100%">
    <div class="card-header">
       Delete Project
        <small class="float-sm-right">
        <a href="{% url 'projects:project-list' %}" class="btn btn-primary"> List <i class="fa fa-list" aria-hidden="true"></i> </a>
        </small>
    </div>
        
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning">Are you sure you want to delete "{{ object }}" ? </div>
            <small class="float-sm-right">
                <a href="{% url 'projects:project-list' %}" class="btn btn-secondary"> Cancel <i class="fa fa-times" aria-hidden="true"></i> </a>
                <button type="submit" class="btn btn-danger"> Yes <i class="fa fa-check" aria-hidden="true"></i></button>
            </small>
            
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted float-sm-right">
        </small>
    </div>
</div>
{% endblock %}

