{% extends 'includes/main_wrapper.html' %} #}

{% load crispy_forms_tags %}

{% block wrapper %}

<div class="card" style="width: 100%">
    <div class="card-header">
        Activities
         <small class="float-sm-right">
        <a href="#" data-action-url="{% url 'activities:activity-add' %}" class="btn btn-primary btn-item-action"> New Activity <i class="fa fa-plus-square-o" aria-hidden="true"></i>
 </a>
        </small>

    </div>

    <div class="card-body">

        {% if object_list %}

        <div class="table-responsive">

        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Change per hour</td>
                <td>Sold per hour</td>
                <td>VAT</td>
                <td>Knowledge level</td>
                <td>Category</td>
                <td>Department</td>
                <td>Created at</td>
                <td>Updated at</td>
                <td>View</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>
            {% for activity in object_list %}
                <tr>
                    <td>{{ activity.pk }}</td>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.charge_per_hour }}</td>
                    <td>{{ activity.sold_per_hour }}</td>
                    <td>{{ activity.vat }}</td>
                    <td>{{ activity.get_skill_level_display }}</td>
                    <td>{{ activity.category }}</td>
                    <td>
                        {# {{ activity.department }} #}
                        <ul>
                        {% for dept in activity.department.all %}
                            <li>{{ dept }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{ activity.created_at }}</td>
                    <td>{{ activity.updated_at }}</td>
                    <td>
                        <a href="#" data-action-url="{% url 'activities:activity-view' activity.id %}" class="btn btn-info btn-sm btn-item-action">View <i class="fa fa-eye" aria-hidden="true"></i>
                     </td>
                    <td><a href="#" data-action-url="{% url 'activities:activity-edit' activity.id %}" class="btn btn-secondary btn-sm btn-item-action">Edit <i class="fa fa-pencil" aria-hidden="true"></i> </td>
                    <td><a href="#" data-action-url="{% url 'activities:activity-delete' activity.id %}" class="btn btn-danger btn-sm btn-item-action">Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>

        {% endif %}


        {# The pagination Section  #}

        {% url "activities:activity-list" as ref_url %}
        {% include 'includes/pagination_records.html' with ref_url=ref_url %}


    </div>
</div>

{% endblock %}
