{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}

  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="employee-tab" data-toggle="tab" href="#employees" data-url="{% url 'employees:employee-list' %}" role="tab" aria-controls="home" aria-selected="true">Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane" role="tabpanel" aria-labelledby="contact-tab"> show </div>
</div>



  <div class="row">
    <div class="col-2"> 
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'employees:employee-list' %}">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clients:client-list' %}">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>

      </ul>
    </div>
    <div class="col-10">
       uu
    </div>
  </div>
    

{% endblock %}

{% block javascript %}
<script type="text/javascript">

getEmployeeList = function(url) {

    console.log('getEmployeeList('+url+')...');

    //$('div#myTabContent').find('div.tab-pane').html('Processing...').show();

    /*
    $.getJSON(url, {})
      .done(function(json) { 
        console.log( "JSON data ");
      })
      .fail(function( jqxhr, textStatus, error ) {
         console.log('Request failed: ' + err);
      });
    */
    
    var jqxhr = $.getJSON(url, function(data) {
          console.log('success');
          //console.log(data.data);
         $('div#myTabContent').find('div.tab-pane').html(data.data).show();
      })
      .done(function() { 
         console.log('done');
      })
      .fail(function( jqxhr, textStatus, error ) {
         console.log('Request failed: ' + err);
      })
      .always(function() { 
         console.log('always');
      });
 
    // set another completion function 
    //$('div#myTabContent').html('hoi').show();

};

$(document).ready(function() {

  $('#myTab a').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    var url = $(this).attr('data-url');
    var id = $(this).attr('id');
    console.log(id+  ' clicked, url='+url);
    $(this).tab('show');

    getEmployeeList(url);
  });

  $('body').on('click', 'ul.pagination a.page-link', function(e) { 
      e.preventDefault();
      console.log("clicked");
      var url = $(this).attr('data-url');
      getEmployeeList(url);
  });
});
</script>
{% endblock %}
