{% extends 'includes/main_wrapper.html' %} #}

{% block wrapper %}

    
<div class="card" style="width: 100%">
    <div class="card-header">
       Delete Employee
       {% url 'employees:employee-list' as list_url %}
       {% include 'includes/btn_list.html' with list_url=list_url list_label='Employees' %}

    </div>
        
    <div class="card-body">
        <form method="post" data-action-url="{% url 'employees:employee-delete' employee.pk %}" enctype="multipart/form-data" class="form-input">

            {% csrf_token %}
            <div class="alert alert-warning">x Are you sure you want to delete "{{ object }}" ? </div>
            <small class="float-sm-right">
                <a href="#" data-action-url="{% url 'employees:employee-list' %}" class="btn btn-secondary btn-item-action"> Cancel <i class="fa fa-times" aria-hidden="true"></i> </a>
                <button type="submit" class="btn btn-danger"> Yes <i class="fa fa-check" aria-hidden="true"></i></button>
            </small>
            
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted float-sm-right">
        </small>
    </div>
</div>
{% endblock %}

