{% extends 'employees/base.html' %}

{% block content %}

<div class="card" style="width: 100%">
    <div class="card-header">
        Employees 
         <small class="float-sm-right">
        <a href="{% url 'employees:employee-add' %}" class="btn btn-primary"> New Employee <i class="fa fa-plus-square-o" aria-hidden="true"></i>
 </a>
        </small>

    </div>

    <div class="card-body">

        {% if object_list %}

        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>E-mail</td>
                <td>Phone</td>
                <td>Created at</td>
                <td>Updated at</td>
                <td>View</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>
            {% for employee in object_list %}
                <tr>
                    <td>{{ employee.pk }}</td>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.created_at }}</td>
                    <td>{{ employee.updated_at }}</td>
                    <td>
                        <a href="{% url 'employees:employee-view' employee.id %}" class="btn btn-info btn-sm">View <i class="fa fa-eye" aria-hidden="true"></i>
                        {# <i class="fa fa-search-plus" aria-hidden="true"></i> #}

                     </td>
                    <td><a href="{% url 'employees:employee-edit' employee.id %}" class="btn btn-secondary btn-sm">Edit <i class="fa fa-pencil" aria-hidden="true"></i> </td>
                    <td><a href="{% url 'employees:employee-delete' employee.id %}" class="btn btn-danger btn-sm">Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        {% endif %}


        {# The pagination Section  #}
        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ object_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}. 
                </span>

                {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">next</a>
                    <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
