{% extends 'includes/main_wrapper.html' %} #}

{% load crispy_forms_tags %}

{% block wrapper %}

<div class="card" style="width: 100%">
    <div class="card-header">
       New Employee
       {% include 'employees/includes/btn_list.html' %}
    </div>

    <div class="card-body">
        <form method="post" data-action-url="{% url 'employees:employee-add' %}" enctype="multipart/form-data" class="form-input">
            {% csrf_token %}
            {{ form|crispy }}
            <small class="float-sm-right">
                 <button  type="submit" class="btn btn-danger btn-form-action">Submit</button>
            </small>
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted float-sm-right">
        </small>
    </div>
</div>

{% endblock %}



