{% extends 'employees/includes/main_wrapper.html' %} #}
    

{% block wrapper %}

    
<div class="card" style="width: 100%">
    <div class="card-header">
       Delete Employee
       {% include 'employees/includes/btn_list.html' %}

    </div>
        
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning">x Are you sure you want to delete "{{ object }}" ? </div>
            <small class="float-sm-right">
                <a href="#" data-action-url="{% url 'employees:employee-list' %}" class="btn btn-secondary btn-item-action"> Cancel <i class="fa fa-times" aria-hidden="true"></i> </a>
                <button type="submit" class="btn btn-danger"> Yes <i class="fa fa-check" aria-hidden="true"></i></button>
            </small>
            
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted float-sm-right">
        </small>
    </div>
</div>
{% endblock %}

